/* Eli Castillo Portfolio Style Sheet*/

body{background-color:black;}

h1 {color: yellow;}
h1 {font-family: monospace;}

p1 {font-family: fantasy;}
p1 {color:turquoise;}
p1 {text-transform: uppercase;}

p2 {text-indent: 50%;}
